@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Salsa&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00a97e;
  --color-secondary: #3c3c3c;
  --text-primary: #888888;
}

.btn-primary {
  @apply btn bg-primary rounded-full px-4 text-white font-semibold border-none shadow-none;
}

.btn-primary:hover {
  @apply bg-amber-400;
}

* {
  font-family: "Poppins", sans-serif;
}

.font-salsa {
  font-family: "Salsa", cursive;
}


.special a.active{
  @apply text-primary
}